// Primary palette
$cyan: #25ced1;
$orange: #fe5f55;
$gray: #737581;

// Secondary palette
$pink: #f61067;
$green: #2ac27f;
$purple: #742dc8;
$yellow: #f9c80e;
$red: #e52c2c;

// Extended palette
$cyan-very-dark: #115e5f;
$cyan-darker: #188486;
$cyan-dark: #1fa9ac;
$cyan-light: #4cd6d9;
$cyan-lighter: #74dfe1;
$cyan-very-light: #9be8ea;
// used for background-color active primary button
$cyan-background: #d3f5f5;
$cyan-disabled: #AFEDEE;

$grey-very-dark: #222326;
$gray-darker: #4A4B53;
$gray-dark: #5F606A;
$gray-light: #8C8E97;
$gray-lighter: #A5A7AE;
$gray-very-light: #E1E1E1;
$gray-lightest-1: #eeeef0;
$gray-lightest-2: #F4F5F7;

$orange-very-dark: #742c27;
$orange-darker: #a23d37;
$orange-dark: #d04e46;
$orange-light: #fe7c73;
$orange-lighter: #fe9992;
$orange-very-light: #feb6b1;
// used for background-color active information button
$orange-background: #fee1e0;

$pink-very-dark: #810a37;
$pink-darker: #9d0b42;
$pink-dark: #ca0e55;
$pink-light: #f73b82;
$pink-lighter: #f9669e;
$pink-very-light: #fcb9d2;

$green-very-dark: #14593a;
$green-darker: #1b7c51;
$green-dark: #239f68;
$green-light: #50cd96;
$green-lighter: #77d8ad;
$green-very-light: #9ee3c4;
// used for background-color active success button
$green-background: #d8f3e7;

$purple-very-dark: #35155b;
$purple-darker: #4a1d80;
$purple-dark: #5f25a4;
$purple-light: #8d53d2;
$purple-lighter: #a679dc;
$purple-very-light: #bf9fe6;
// used for background-color active primary-light button
$purple-background: #e5d8f5;

// yellow warning
$yellow-warning: #ff9903;

$yellow-very-dark: #725b07;
$yellow-darker: #9f8009;
$yellow-dark: #cca40c;
$yellow-light: #fad239;
$yellow-lighter: #fbdc65;
$yellow-very-light: #fce691;
// used for background-color active yellow warning button
$yellow-background: #fdf5d3;

// red danger
$red-danger: #d31010;

$red-very-dark: #691414;
$red-darker: #921d1d;
$red-dark: #bc2525;
$red-light: #e95252;
$red-lighter: #ee7878;
$red-very-light: #f39f9f;
// used for background-color active red danger button
$red-background: #fad8d8;
